<h4 id="hi_there">Hi There</h4>
<span class="photo-crousel" data-no-turbolink>
	<div class="row">
		<div class="small-7 small-centered columns">
			<span class="photo-frame">
				<div class="large-slick">
						
				</div>
			</span>
			<span class="tumb-frame">
				<div class="small-slick">
					<div id="name">
						<%= render 'new_form' %> 
						<!-- <%= button_to "Add Image", action: :add_image, method: :post, remote: true %> -->
					</div>
				</div>
			</span>
		</div>
	</div>
</span> 