<span class="photo-crousel" data-no-turbolink>
	<div class="row">
		<div class="small-7 small-centered columns">
			<span class="photo-frame">
				<div class="large-slick">
			    <% @photos.each do |photo| %>
						<div>
							<%= image_tag(photo.image(:large)) %>
						</div>
					<%end%>
				</div>
			</span>
			<span class="tumb-frame">
				<div class="small-slick">
					<% @photos.each do |photo| %>
						<div>
							<%= image_tag(photo.image(:thumb)) %>
						</div>
					<% end %>
					<div id="new">
						<%= render 'new_form' %> 
					</div>
				</div>
			</span>
		</div>
	</div>
</span>