// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#photo-add-button {
	width: 100px;
	height: 100px;
}

#photo_image {
	position:absolute;
	opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=0); /* IE lt 8 */
	-ms-filter: "alpha(opacity=0)"; /* IE 8 */
	-khtml-opacity: 0.0; /* Safari 1.x */
	-moz-opacity: 0.0; /* FF lt 1.5, Netscape */
}

#delete-photo {
	display: block;
  position: absolute;
  width:20px;
  height:20px;
  top: 2px;
  right: 110px;
	background: url(close42.svg);
	background-size: 100% 100%;
  background-repeat: no-repeat;
}

.large-slick {
	border: 1px solid;
  border-radius: 3px;
	border-color: white;
}

.small-slick {
	border: 1px solid;
  border-radius: 3px;
	border-color: white;
}